# Parte 2 del proyecto

In [2]:
import pandas as pd

dataset = pd.read_excel('../media/dataset_punto2.xlsx')

dataset.head(10)

   jornada  velocidad_produccion  consumo_energia
0        1                    92            126.1
1        2                    97            127.3
2        3                   123            148.0
3        4                   101            144.5
4        5                   102            129.3
5        6                   126            166.0
6        7                   107            120.1
7        8                    81            120.6
8        9                    90            123.2
9       10                    93            126.6